<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/']" class="brand-link">
      <img src="assets/img/ict_uff.png" style="height: 10px;" alt="AdminLTE Logo style=" class="  " style="opacity: .9">
      <span class="brand-text font-weight-light"></span> <span style="font-size: 16px; margin-left: 4px;"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Lucas Campos</a>
        </div>
      </div>

      <!-- SidebarSearch Form
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
    -->
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <!-- Cadastros do menu ... -> menu-open para expandir o menu abaixo -->
          <li class="nav-item ">
            <a href="#"  routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Cadastro
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <!--
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/gerencia']" routerLinkActive="active" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gerência</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/centro']" routerLinkActive="active" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Centro</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/local']" routerLinkActive="active" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Local</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/deposito']" routerLinkActive="active" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Deposito</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/usuario']" routerLinkActive="active" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Usuário</p>
                </a>
              </li>
            </ul>
            -->

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/entrada']" routerLinkActive="active" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Entradas</p>
                </a>
              </li>
            </ul>


            


          </li>

          <!-- Solicitação -->
          <li class="nav-item">
            <a href="#" class="nav-link"  routerLinkActive="active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Otimizações
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/resultado']" routerLinkActive="active" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Resultados</p>
                </a>
              </li>
            </ul>
          </li>     

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
