 <!-- Content Header (Page header) -->
 <div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Prazos de Atendimento</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Cadastro</a></li>
          <li class="breadcrumb-item active">Prazos de Atendimento</li>
        </ol>
      </div><!-- /.col -->

    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-12">
          <div class="card mt-3">
            <div class="card-header">
              <div class="float-left">
                <h4>Listagem</h4>
              </div>
              <div class="float-right">
                <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo</button>
                <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
              </div>
            </div>
            <div class="card-body">
              <table datatable class="table table-hover" *ngIf="prazoAtendimentos$ | async as prazoAtendimento; else loading">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Escala Início</th>
                    <th>Escala Fim</th>
                    <th>Dias Úteis Normal</th>
                    <th>Dias Úteis Emergêcnia</th>
                    <th>Tipo de Atendimento</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of prazoAtendimento">
                    <td>{{ item.Id }}</td>
                    <td>{{ item.EscalaInicio }}</td>
                    <td>{{ item.EscalaFim }}</td>
                    <td>{{ item.DiasUteisNormal }}</td>
                    <td>{{ item.DiasUteisEmergencia }}</td>
                    <td>{{ getDescricaoTipoAtendimento(item.TipoAtendimentoCodigo) }}</td>
                    <td>
                      <span class="float-right">
                        <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(item.Id)">
                          Atualizar
                        </button>

                        <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(item)">
                          Remover
                        </button>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <ng-template #loading>
                <span>Carregando Prazos de Atendimento...</span>
              </ng-template>
          <!--
              <ng-template #loadingError>
                <div *ngIf="error$ | async; else loading"> Erro ao carregar gerências</div>
                <ng-template #loading>
                  <span>Carregando Gerências...</span>
                </ng-template>

              </ng-template>

            -->
            </div>
          </div>

          <ng-template #deleteModal>
            <div class="modal-body text-center">
              <p>Tem certeza que deseja remover?</p>
              <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
              <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Nao</button>
            </div>
          </ng-template>
        </div>
     </div>
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

